name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2. Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    # 3. Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    
    - name: Run tests
      run: pytest -q

   
    - name: Build server Docker image
      run: |
        docker build -f Dockerfile.server -t brain-tumor-server:${{ github.run_number }} .

    
    - name: Build streamlit Docker image
      run: |
        docker build -f Dockerfile.streamlit -t brain-tumor-streamlit:${{ github.run_number }} .
